@use '../variables/colors';
@use '../variables/mixins';
.modalOverlay{
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  opacity: 1;
  pointer-events: none;
  transition: 0.3s;
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: colors.$bgTask;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  padding: 1.1rem;
  /* transition: 0.35s cubic-bezier(0.25, 0.8, 0.3, 1); */
}

.hidden{
  display: none;
}

.modalHandle {
  width: 32px;
  height: 4px;
  background: colors.$borderColor;
  border-radius: 6rem;
  margin: 0 auto 1.1rem;
}

#descriptionInput,
#dateInput{
  padding: 1rem;
  border-radius: 0.2rem;
  border: 1px solid colors.$borderColor;
  width: 100%;
}

#descriptionInput{
  margin-bottom: 1rem;
}

#descriptionInput::placeholder,
#dateInput::placeholder{
  letter-spacing: 0.5px;
  color: colors.$placeholderColor;
}

.remindContent{
  @include mixins.flexBox(flex, row, space-between, center);
  margin: 1rem 0;
}

.taskFormButtons{
  display: flex;
  gap: 0.5rem;
}

.taskFormButtons{
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

#addBtn,
#cancelBtn{
  padding: 0.8rem 1.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 6.2rem;
  border: none;
  cursor: pointer;
}

#addBtn{
  background-color: colors.$primaryColor;
  color: colors.$white;
}

#addBtn:hover{
  background-color: colors.$primaryColor;
}

#cancelBtn{
  color: colors.$primaryColor;
  background-color: transparent;
  border: 1px solid colors.$borderColor;
}

#cancelBtn:hover{
  background-color: colors.$primaryColor;
  color: #fff;
}

.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 32px;
  cursor: pointer;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  inset: 0;
  border-radius: 999px;
  background: colors.$bgColor;
  border: 2px solid colors.$borderColor;
  transition: 0.25s ease;
}


.slider::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: colors.$borderColor; 
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/assets/icons/checkbox-close.svg");
  transition: 0.25s ease;
}

.switch input:checked + .slider {
  background: colors.$primaryColor;
  border-color: transparent;
}

.switch input:checked + .slider::after {
  transform: translateX(20px);
  background-color: colors.$white;
  background-image: url("/assets/icons/checkbox-check.svg");
}