@use '../variables/colors';

.search {
  margin-bottom: 1rem;
}

#seachForm {
  max-width: 1200px;
  position: relative;
}

#searchInput {
  width: 100%;
  background-color: colors.$searchBg;
  border: none;
  border-radius: 1.8rem;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  line-height: 1.5;
}

#searchInput::placeholder {
  color: colors.$placeholderColor;
}

#seachForm .searchIcon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
}
