@use '../variables/colors';
@use '../variables/mixins';

.toDoList {
  margin-top: 1rem;
}

.toDolistItem {
  @include mixins.flexBox(flex, row, start, center, 1rem);
  background-color: colors.$bgTask;
  margin-bottom: 0.8rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.toDolistItemRightDate {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.toDolistItemRightTask {
  font-size: 1rem;
}

.checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.checkbox input {
  display: none; 
}

.custom-checkbox {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 2px solid colors.$placeholderColor; 
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.2s;
}

.custom-checkbox::after {
  content: '';
  width: 18px;
  height: 18px;
  opacity: 0;

  background-image: url('/assets/icons/checkbox-check.svg');
  background-size: contain;
  background-repeat: no-repeat;

  transition: 0.2s;
}

.checkbox input:checked + .custom-checkbox {
  background-color: colors.$checkboxActive;
  border: none;
}

.checkbox input:checked + .custom-checkbox::after {
  opacity: 1; 
}

.isTaskCompleted {
  opacity: 0.5;

  .toDolistItemRightTask {
    text-decoration: line-through;
  }
}

.createNewTaskBtn {
  padding: 1rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 4px 8px 3px rgba(0, 0, 0, 0.15);
  background: colors.$primariColorLight;
  border-radius: 1rem;
  border: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.createNewTaskBtn:hover{
  background-color: colors.$primaryColor;
}