$primaryColor: #6750A4;
$primariColorLight: #E8DEF8;
$fontColor: #1D1B1E;
$bgColor: #FFFBFF;
$borderColor: #79747E;
$bgTask: #F7F2FA;
$searchBg: #E6E2E9;
$placeholderColor: #49454f;
$checkboxActive: #d0bcff;
$white: #fff;
