@use './variables/fonts';
@use './variables/colors';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: colors.$fontColor;
  font-family: fonts.$fontFamily;
}

