@use './global';
@use './sections/date';
@use './sections/search';
@use './sections/filter';
@use './sections/tasksList';
@use './sections/form';

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}